In [1]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")
print("thanks!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

thanks!

In [2]:
print("ha")

ha

In [7]:
for i in range(1,1):
    print(i)

In [9]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
odds = list(range(2,12,2))
odds2 = list(range(2,11,2))
print(odds, odds2)
print(odds + odds2)

[2, 4, 6, 8, 10] [2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [30]:
for i in range(10,-5,-2):
    print(i)

10
8
6
4
2
0
-2
-4

In [32]:
for i in range(1,5):
    i = i**2
    print(i)

1
4
9
16

In [35]:
squares = []
for i in range(1,5):
    i = i**2
    squares.append(i)
    print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]

In [38]:
squares = []
for i in range(1,5):
    i = i**2
    squares.append(i)
    
print(squares)

[1, 4, 9, 16]

In [43]:
squares = []
for i in range(1,5):
    squares.append(i**2)
    print(squares)

print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16]

In [45]:
list_comp = [i**3 for i in range (5,-3, -1)]
print(list_comp)

[125, 64, 27, 8, 1, 0, -1, -8]

In [48]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [1]:
one_million = [i for i in range(1,100)]
print(one_million)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]